In [231]:
import requests
import pandas as pd
import numpy as np
import nltk
nltk.download("stopwords")
nltk.download("wordnet")
nltk.download('punkt')
nltk.download('brown')
  
from bs4 import BeautifulSoup
from textblob import Word
from textblob import TextBlob

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\D\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\D\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\D\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\D\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\brown.zip.

In [183]:
r= requests.get("https://www.yelp.com/biz/dumpling-baby-china-bistro-san-francisco-4")

soup = BeautifulSoup(r.text,'html.parser')

divs = soup.findAll(class_="review__373c0__3MsBX",recursive=True)

In [186]:
reviews=[]

for div in divs:
    reviews.append(div.find('p').text)

#### Couple Automated Reviews label as "Elite 2021", removing and cleaning the dataset

In [119]:
df.drop(df[df["review"]=="Elite 2021"].index,inplace=True)

In [120]:
df["word_count"]=df["review"].apply(lambda x:len(x.split()))

In [121]:
df["char_count"]=df["review"].apply(lambda x: len(x))

In [122]:
def average_words(x):
    words=x.split()
    return sum(len(word) for word in words)/len(words)

In [123]:
df["average_length_word"]=df["review"].apply(lambda x: average_words(x))

In [86]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\D\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [125]:
stop_words= stopwords.words('english')

In [126]:
df["stop_word_count"]=df["review"].apply(lambda x: len([word for word in x.split() if word.lower()
                                  in stop_words]))

In [128]:
df["stopword_rate"]=df["stop_word_count"]/df["word_count"]

In [132]:
df.sort_values("stopword_rate")

,review,word_count,char_count,average_length_word,stop_word_count,stopword_rate
4,We are repeat customers for their pickup and d...,62,388,5.258065,20,0.322581
1,This got one star bc we ate it.I have never we...,179,1012,4.653631,79,0.441341
6,Been curious to try this place since they open...,131,694,4.305344,63,0.480916
2,"I wish I could say only good things, but I wou...",118,578,3.906780,57,0.483051
0,"LOVE this place. Take out only, but that's go...",141,762,4.333333,69,0.489362

Variable        Type                    Data/Info
-------------------------------------------------
BeautifulSoup   type                    <class 'bs4.BeautifulSoup'>
average_words   function                <function average_words at 0x000001E6345FEC10>
df              DataFrame                                        <...>      63       0.480916
div             Tag                     <div class="review__373c0<...></span></div></div></div>
divs            ResultSet               [<div class="review__373c<...>/span></div></div></div>]
nltk            module                  <module 'nltk' from 'C:\\<...>ages\\nltk\\__init__.py'>
np              module                  <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd              module                  <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
r               Response                <Response [200]>
requests        module                  <module 'requests' from '<...>\\requests\\__init__.py'>
reviews         list                    n=10
soup            BeautifulSoup           <!DOCTYPE HTML>\n\n<!--[i<...>script>\n</body>\n</html>
stop_words      list                    n=179
stopwords       WordListCorpusReader    <WordListCorpusReader in <...>ata\\corpora\\stopwords'>

### Cleaning the data

In [154]:
df["review_lower_case_"]=df["review"].apply(lambda x: " ".join(word.lower() for word in x.split()))

In [155]:
df.columns

Index(['review', 'word_count', 'char_count', 'average_length_word',
       'stop_word_count', 'stopword_rate', 'review_lower_case_'],
      dtype='object')

In [159]:
df["review_lower_case_"]=df["review_lower_case_"].str.replace("[^\w\s]"," ")

C:\Users\D\AppData\Local\Temp/ipykernel_3860/3633775387.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["review_lower_case_"]=df["review_lower_case_"].str.replace("[^\w\s]"," ")

In [161]:
df["stop_words"]= df["review_lower_case_"].apply(lambda x: " ".join(word for word in x.split() if word not in stop_words))

In [195]:
df["cleaned_review"]=df["stop_words"].apply(lambda x: " ".join(word for word in x.split() if word not in other_stop_words))
df

,review,word_count,char_count,average_length_word,stop_word_count,stopword_rate,review_lower_case_,stop_words,cleaned_review
0,"LOVE this place. Take out only, but that's go...",141,762,4.333333,69,0.489362,love this place take out only but that s goo...,love place take good chinese food remember san...,love place take good chinese food remember san...
1,This got one star bc we ate it.I have never we...,179,1012,4.653631,79,0.441341,this got one star bc we ate it i have never we...,got one star bc ate never went place serves sh...,got star bc ate never went place serves shangh...
2,"I wish I could say only good things, but I wou...",118,578,3.906780,57,0.483051,i wish i could say only good things but i wou...,wish could say good things would careful one o...,wish could say good things careful ordered sup...
4,We are repeat customers for their pickup and d...,62,388,5.258065,20,0.322581,we are repeat customers for their pickup and d...,repeat customers pickup delivery favorites cri...,repeat customers pickup delivery favorites cri...
6,Been curious to try this place since they open...,131,694,4.305344,63,0.480916,been curious to try this place since they open...,curious try place since opened lazy today deci...,curious try place since opened lazy today deci...

In [187]:
pd.Series(" ".join(df["stop_words"]).split()).value_counts()[:20]

spicy        6
food         6
place        5
suppose      4
would        4
tofu         4
noodles      4
ordered      4
dumplings    4
delivery     4
quality      3
one          3
shanghai     3
sauce        3
shrimp       3
order        3
better       3
honey        3
love         3
good         3
dtype: int64

In [189]:
other_stop_words= ["get","told","would","week","us","test","right","left","one","even","also","go","asked"]

In [203]:
df["lemmatized"]=df["cleaned_review"].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))

In [204]:
df

,review,word_count,char_count,average_length_word,stop_word_count,stopword_rate,review_lower_case_,stop_words,cleaned_review,lemmatized
0,"LOVE this place. Take out only, but that's go...",141,762,4.333333,69,0.489362,love this place take out only but that s goo...,love place take good chinese food remember san...,love place take good chinese food remember san...,love place take good chinese food remember san...
1,This got one star bc we ate it.I have never we...,179,1012,4.653631,79,0.441341,this got one star bc we ate it i have never we...,got one star bc ate never went place serves sh...,got star bc ate never went place serves shangh...,got star bc ate never went place serf shanghai...
2,"I wish I could say only good things, but I wou...",118,578,3.906780,57,0.483051,i wish i could say only good things but i wou...,wish could say good things would careful one o...,wish could say good things careful ordered sup...,wish could say good thing careful ordered supe...
4,We are repeat customers for their pickup and d...,62,388,5.258065,20,0.322581,we are repeat customers for their pickup and d...,repeat customers pickup delivery favorites cri...,repeat customers pickup delivery favorites cri...,repeat customer pickup delivery favorite crisp...
6,Been curious to try this place since they open...,131,694,4.305344,63,0.480916,been curious to try this place since they open...,curious try place since opened lazy today deci...,curious try place since opened lazy today deci...,curious try place since opened lazy today deci...

In [210]:
df["cleaned_review"][0]

'love place take good chinese food remember san franciso long ago many great chinese restaurants recent years struggle find consistent quality deliciousness ordered dishes first visit including walnut shrimp outstanding use crack could eat whole plate give many big juicy shrimp room want hungry enjoy much excellent flavors generous balance protein veggies love chinese restaurant lumpia shanghai menu yummy wait next carb night'

In [211]:
df["lemmatized"][0]

'love place take good chinese food remember san franciso long ago many great chinese restaurant recent year struggle find consistent quality deliciousness ordered dish first visit including walnut shrimp outstanding use crack could eat whole plate give many big juicy shrimp room want hungry enjoy much excellent flavor generous balance protein veggie love chinese restaurant lumpia shanghai menu yummy wait next carb night'

## Sentiment Analysis

In [221]:
df['lemmatized'].apply(lambda x: TextBlob(x).sentiment.subjectivity)
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\D\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\D\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [236]:
df['polarity']=df["lemmatized"].apply(lambda x: TextBlob(x).sentiment[0])
df['subjectivty']=df["lemmatized"].apply(lambda x: TextBlob(x).sentiment[1])

In [237]:
df

,review,word_count,char_count,average_length_word,stop_word_count,stopword_rate,review_lower_case_,stop_words,cleaned_review,lemmatized,tags,noun_phrase,polarity,subjectivty
0,"LOVE this place. Take out only, but that's go...",141,762,4.333333,69,0.489362,love this place take out only but that s goo...,love place take good chinese food remember san...,love place take good chinese food remember san...,love place take good chinese food remember san...,"[(love, VB), (place, NN), (take, VB), (good, J...","[good chinese food, san franciso, great chines...",0.318421,0.403070
1,This got one star bc we ate it.I have never we...,179,1012,4.653631,79,0.441341,this got one star bc we ate it i have never we...,got one star bc ate never went place serves sh...,got star bc ate never went place serves shangh...,got star bc ate never went place serf shanghai...,"[(got, VBD), (star, NN), (bc, NN), (ate, NN), ...","[star bc ate, place serf shanghai noodle didnt...",0.056481,0.523148
2,"I wish I could say only good things, but I wou...",118,578,3.906780,57,0.483051,i wish i could say only good things but i wou...,wish could say good things would careful one o...,wish could say good things careful ordered sup...,wish could say good thing careful ordered supe...,"[(wish, NN), (could, MD), (say, VB), (good, JJ...","[good thing, taste food chow hair, taste rotte...",0.012670,0.618169
4,We are repeat customers for their pickup and d...,62,388,5.258065,20,0.322581,we are repeat customers for their pickup and d...,repeat customers pickup delivery favorites cri...,repeat customers pickup delivery favorites cri...,repeat customer pickup delivery favorite crisp...,"[(repeat, NN), (customer, NN), (pickup, NN), (...","[repeat customer pickup delivery, favorite cri...",0.135000,0.710000
6,Been curious to try this place since they open...,131,694,4.305344,63,0.480916,been curious to try this place since they open...,curious try place since opened lazy today deci...,curious try place since opened lazy today deci...,curious try place since opened lazy today deci...,"[(curious, JJ), (try, NN), (place, NN), (since...","[order delivery, easy delivery, overall food, ...",0.278571,0.605952

## As expected teh reviews are quite subjective

## However, just interested on whether noun_phares are effecting polarity and subjectivity ? Not really

In [242]:
df['noun_phrase']=df["lemmatized"].apply(lambda x: TextBlob(x).noun_phrases)
df['noun_phrase_polarity']=df["lemmatized"].apply(lambda x: TextBlob(x).sentiment[0])
df['noun_phrase_subjectivity']=df["lemmatized"].apply(lambda x: TextBlob(x).sentiment[1])
df

,review,word_count,char_count,average_length_word,stop_word_count,stopword_rate,review_lower_case_,stop_words,cleaned_review,lemmatized,tags,noun_phrase,polarity,subjectivty,noun_phrase_polarity,noun_phrase_subjectivity
0,"LOVE this place. Take out only, but that's go...",141,762,4.333333,69,0.489362,love this place take out only but that s goo...,love place take good chinese food remember san...,love place take good chinese food remember san...,love place take good chinese food remember san...,"[(love, VB), (place, NN), (take, VB), (good, J...","[good chinese food, san franciso, great chines...",0.318421,0.403070,0.318421,0.403070
1,This got one star bc we ate it.I have never we...,179,1012,4.653631,79,0.441341,this got one star bc we ate it i have never we...,got one star bc ate never went place serves sh...,got star bc ate never went place serves shangh...,got star bc ate never went place serf shanghai...,"[(got, VBD), (star, NN), (bc, NN), (ate, NN), ...","[star bc ate, place serf shanghai noodle didnt...",0.056481,0.523148,0.056481,0.523148
2,"I wish I could say only good things, but I wou...",118,578,3.906780,57,0.483051,i wish i could say only good things but i wou...,wish could say good things would careful one o...,wish could say good things careful ordered sup...,wish could say good thing careful ordered supe...,"[(wish, NN), (could, MD), (say, VB), (good, JJ...","[good thing, taste food chow hair, taste rotte...",0.012670,0.618169,0.012670,0.618169
4,We are repeat customers for their pickup and d...,62,388,5.258065,20,0.322581,we are repeat customers for their pickup and d...,repeat customers pickup delivery favorites cri...,repeat customers pickup delivery favorites cri...,repeat customer pickup delivery favorite crisp...,"[(repeat, NN), (customer, NN), (pickup, NN), (...","[repeat customer pickup delivery, favorite cri...",0.135000,0.710000,0.135000,0.710000
6,Been curious to try this place since they open...,131,694,4.305344,63,0.480916,been curious to try this place since they open...,curious try place since opened lazy today deci...,curious try place since opened lazy today deci...,curious try place since opened lazy today deci...,"[(curious, JJ), (try, NN), (place, NN), (since...","[order delivery, easy delivery, overall food, ...",0.278571,0.605952,0.278571,0.605952

In [243]:
df.describe()

,word_count,char_count,average_length_word,stop_word_count,stopword_rate,polarity,subjectivty,noun_phrase_polarity,noun_phrase_subjectivity
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,126.200000,686.800000,4.491430,57.600000,0.443450,0.160229,0.572068,0.160229,0.572068
std,42.481761,230.532427,0.503854,22.534418,0.070167,0.134353,0.115382,0.134353,0.115382
min,62.000000,388.000000,3.906780,20.000000,0.322581,0.012670,0.403070,0.012670,0.403070
25%,118.000000,578.000000,4.305344,57.000000,0.441341,0.056481,0.523148,0.056481,0.523148
50%,131.000000,694.000000,4.333333,63.000000,0.480916,0.135000,0.605952,0.135000,0.605952
75%,141.000000,762.000000,4.653631,69.000000,0.483051,0.278571,0.618169,0.278571,0.618169
max,179.000000,1012.000000,5.258065,79.000000,0.489362,0.318421,0.710000,0.318421,0.710000

In [235]:
df["noun_phrase"][0]

WordList(['good chinese food', 'san franciso', 'great chinese restaurant', 'recent year struggle', 'consistent quality deliciousness', 'walnut shrimp', 'outstanding use', 'whole plate', 'big juicy shrimp room', 'excellent flavor', 'generous balance protein veggie', 'chinese restaurant lumpia shanghai menu yummy', 'carb night'])

In [245]:
df.sort_values(by="polarity", ascending=False)

,review,word_count,char_count,average_length_word,stop_word_count,stopword_rate,review_lower_case_,stop_words,cleaned_review,lemmatized,tags,noun_phrase,polarity,subjectivty,noun_phrase_polarity,noun_phrase_subjectivity
0,"LOVE this place. Take out only, but that's go...",141,762,4.333333,69,0.489362,love this place take out only but that s goo...,love place take good chinese food remember san...,love place take good chinese food remember san...,love place take good chinese food remember san...,"[(love, VB), (place, NN), (take, VB), (good, J...","[good chinese food, san franciso, great chines...",0.318421,0.403070,0.318421,0.403070
6,Been curious to try this place since they open...,131,694,4.305344,63,0.480916,been curious to try this place since they open...,curious try place since opened lazy today deci...,curious try place since opened lazy today deci...,curious try place since opened lazy today deci...,"[(curious, JJ), (try, NN), (place, NN), (since...","[order delivery, easy delivery, overall food, ...",0.278571,0.605952,0.278571,0.605952
4,We are repeat customers for their pickup and d...,62,388,5.258065,20,0.322581,we are repeat customers for their pickup and d...,repeat customers pickup delivery favorites cri...,repeat customers pickup delivery favorites cri...,repeat customer pickup delivery favorite crisp...,"[(repeat, NN), (customer, NN), (pickup, NN), (...","[repeat customer pickup delivery, favorite cri...",0.135000,0.710000,0.135000,0.710000
1,This got one star bc we ate it.I have never we...,179,1012,4.653631,79,0.441341,this got one star bc we ate it i have never we...,got one star bc ate never went place serves sh...,got star bc ate never went place serves shangh...,got star bc ate never went place serf shanghai...,"[(got, VBD), (star, NN), (bc, NN), (ate, NN), ...","[star bc ate, place serf shanghai noodle didnt...",0.056481,0.523148,0.056481,0.523148
2,"I wish I could say only good things, but I wou...",118,578,3.906780,57,0.483051,i wish i could say only good things but i wou...,wish could say good things would careful one o...,wish could say good things careful ordered sup...,wish could say good thing careful ordered supe...,"[(wish, NN), (could, MD), (say, VB), (good, JJ...","[good thing, taste food chow hair, taste rotte...",0.012670,0.618169,0.012670,0.618169